@page "/vendor/create"
@using Categorise.Data
@using Categorise.Services
@using System.Security.Claims
@inject IVendorService VendorService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>Create Vendor</h3>

<Form ButtonText="Create Vendor" vendor="@vendor" OnValidSubmit="@HandleValidSubmit" />

@code {
    string _userId;
    Vendor vendor = new Vendor();

    private async void HandleValidSubmit()
    {
        await GetClaimsPrincipalData();
        VendorService.CreateVendor(vendor, _userId);
        NavigationManager.NavigateTo("/vendor");
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        }
    }
}