@page "/category/create"
@using Categorise.Data
@using Categorise.Services
@using System.Security.Claims
@inject ICategoryService CategoryService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>Create Category</h3>

<Form ButtonText="Create Category" category="@category" OnValidSubmit="@HandleValidSubmit" />

@code {
    string _userId;
    Category category = new Category();

    private async void HandleValidSubmit()
    {
        await GetClaimsPrincipalData();
        CategoryService.CreateCategory(category, _userId);
        NavigationManager.NavigateTo("/category");
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        }
    }
}