@page "/account/create"
@using Categorise.Data
@using Categorise.Services
@using System.Security.Claims
@inject IAccountService AccountService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>Create Account</h3>

<Form ButtonText="Create Account" account="@account" OnValidSubmit="@HandleValidSubmit" />

@code {
    string _userId;
    Account account = new Account();

    private async void HandleValidSubmit()
    {
        await GetClaimsPrincipalData();
        AccountService.CreateAccount(account, _userId);
        NavigationManager.NavigateTo("/account");
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        }
    }
}